<header>
  <h2>Register Employee</h2>
</header>
<form class="employee-form" [formGroup]="employeeForm">
  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First name" formControlName="firstName"
        required>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors.required">
          First Name is required.
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last name" formControlName="lastName">
    </div>
  </div>
  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" formControlName="gender">
        <option></option>
        <option *ngFor="let gender of genderAllowed">{{gender}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="dob">Date of Birth</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" formControlName="dob" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <img src="../../assets/calendar.svg" width="24" height="24" alt="calendar">
          </button>
        </div>
        <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert alert-danger">
          <div *ngIf="dob.hasError">
            Date of Birth should be in YYYY-MM-DD format
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row row">
    <div class="form-group col">
      <label for="department">Department</label>
      <input type="text" class="form-control" id="department" placeholder="Department" formControlName="department">
    </div>
  </div>
  <div class="submit">
    <button class="btn btn-success" type="submit" (click)="onSubmit()" [disabled]="!employeeForm.valid">Submit</button>
    <button class="btn btn-secondary" type="reset">Reset</button>
  </div>
</form>